*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
}
#show-groceries{
    /* width: 83%; */
    /* margin: 1rem auto 1rem auto; */
}
.btn{
    border-radius: 0;
}
.card, .jumbotron{
    border-radius: 0;
}